$rosado: #DC2F50;
$blanco: #FAF9F9;
$azul: #1C2144;
$grey: #D5D3D3;
$verde: #389769;
$azul-facebook: #5D49D5;
$celeste: #45B2E5;
$rojo: #F73434;
$azul-linkedin: #2372D3;
$rojo-pinterest: #F30A0A;
$negro: #4E4C4C;